
.helmet, .torso{
    width:80px;
    height:80px;
    background-color: grey;
    margin: 20px;
    display: inline-block;
}

.hidable{
    display: none;
}

.item_group{
    display: flex;
    flex-direction: row;
    width:500px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop_container{
    display: flex;
    justify-content: center;

}

div[itemClass="weapon"],div[itemClass="boots"] { 

  }