.columns{
    display: flex;
    flex-direction: column;
    width:fit-content;
    background-color: cyan;
}
.rows{
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    position: relative;
    justify-content: space-between;

}
.character_wrapper{
    background-color: brown;

    flex-grow: 2;
}
.item_container{
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin:0 auto;
}
.item_thumbnail{
width: 200px;
height: 200px;
background-color: darkgrey;

}
.item_properties{
width:200px;
height:200px;
background-color: red;
}
.buyBtn{
    width:100px;
    height:30px;
    background-color: yellow;
    align-self: center;
}
.storage_wrapper{
border:2px solid black;
width:fit-content;
}
.shopSelectBtn{
    width:80px;
}
.shop_container{
    border:2px solid green;
height:200px;
width:510px;
overflow: auto;
}
.item_group{
    border:2px solid red;
}
.itemSelect{
    width:100px;
    height:100px;

}

div[itemClass]
{
display: none;
}

.hidden{
    display: none;
}