
.helmet, .torso{
    width:80px;
    height:80px;
    background-color: grey;
    margin: 20px;
    display: inline-block;
}

.hidable{
    display: none;
}

.item_group{
    display: flex;
    flex-direction: column;
    width:100px;
}

.shop_container{
    display: flex;
    justify-content: center;

}